/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */

.dot-flashing {
  position: relative;

  @include dot;

  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: .5s;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }

  &::before {
    left: -$dot-spacing;

    @include dot($bg-color: $dot-before-color);

    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }

  &::after {
    left: $dot-spacing;

    @include dot($bg-color: $dot-after-color);

    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
}

@keyframes dot-flashing {
  0% {
    background-color: rgba($dot-color, 1);
  }

  50%,
  100% {
    background-color: rgba($dot-color, .2);
  }
}
