// ==============================================
// Variables
// ==============================================

$dotWidth: 10px !default;
$dotHeight: 10px !default;
$dotRadius: $dotWidth/2 !default;

$dotColor: #9880ff !default;
$dotBgColor: $dotColor !default;
$dotBeforeColor: $dotColor !default;
$dotAfterColor: $dotColor !default;

$dotSpacing: $dotWidth + $dotWidth/2 !default;
