// ==============================================
// Mixins
// ==============================================

.dot(@width: @dot-width, @height: @dot-height, @radius: @dot-radius, @bg-color: @dot-bg-color, @color: @dot-color) {
  background-color: @bg-color;
  border-radius: @radius;
  color: @color;
  height: @height;
  width: @width;
}

@d-max: 50px;
@d-min: 12px;
