// ==============================================
// Variables
// ==============================================

@dot-width: 10px;
@dot-height: 10px;
@dot-radius: @dot-width/2;

@dot-color: #9880ff;
@dot-bg-color: @dot-color;
@dot-before-color: @dot-color;
@dot-after-color: @dot-color;

@dot-spacing: @dot-width + @dot-width/2;
