// ----------------------------------------------
// Dot Typing
// ----------------------------------------------

$leftPos: -9999px;
$x-1: - $leftPos - 15px;
$x-2: - $leftPos;
$x-3: - $leftPos + 15px;

.dot-typing {
  position: relative;
  left: $leftPos;
  @include dot;

  box-shadow:
  $x-1 0 0 0 $dotColor,
  $x-2 0 0 0 $dotColor,
  $x-3 0 0 0 $dotColor;

  animation: dotTyping 1.5s infinite linear;

}

@keyframes dotTyping {
  0% {
    box-shadow:
    $x-1 0 0 0 $dotColor,
    $x-2 0 0 0 $dotColor,
    $x-3 0 0 0 $dotColor;
  }
  16.667% {
    box-shadow:
    $x-1 -5px 0 0 $dotColor,
    $x-2 0 0 0 $dotColor,
    $x-3 0 0 0 $dotColor;
  }
  33.333% {
    box-shadow:
    $x-1 0 0 0 $dotColor,
    $x-2 0 0 0 $dotColor,
    $x-3 0 0 0 $dotColor;
  }
  50% {
    box-shadow:
    $x-1 0 0 0 $dotColor,
    $x-2 -5px 0 0 $dotColor,
    $x-3 0 0 0 $dotColor;
  }
  66.667% {
    box-shadow:
    $x-1 0 0 0 $dotColor,
    $x-2 0 0 0 $dotColor,
    $x-3 0 0 0 $dotColor;
  }
  83.333% {
    box-shadow:
    $x-1 0 0 0 $dotColor,
    $x-2 0 0 0 $dotColor,
    $x-3 -5px 0 0 $dotColor;
  }
  100% {
    box-shadow:
    $x-1 0 0 0 $dotColor,
    $x-2 0 0 0 $dotColor,
    $x-3 0 0 0 $dotColor;
  }
}
