/**
 * ==============================================
 * Dot Hourglass
 * ==============================================
 */

$r: 15px;
$originX: 5px;
$originY: 5px + $r;

.dot-hourglass {
  position: relative;
  top: - $r;

  @include dot;

  transform-origin: $originX $originY;
  animation: dotHourglass 2.4s infinite ease-in-out;
  animation-delay: .6s;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    @include dot;
  }

  &::before {
    top: $r + $r;
  }

  &::after {
    animation: dotHourglassAfter 2.4s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
  }

}

@keyframes dotHourglass {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(180deg);
  }

  50% {
    transform: rotateZ(180deg);
  }

  75% {
    transform: rotateZ(360deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes dotHourglassAfter {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY($r*2);
  }

  50% {
    transform: translateY($r*2);
  }

  75% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
