// ----------------------------------------------
// Dot Shuttle
// ----------------------------------------------

$d: 50px;

.dot-shuttle {
  position: relative;

  @include dot;

  filter: blur(1px);
  transform: scale(2, 2);

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;

    @include dot;
  }

  &::before, &::after {
    left: - $d;
    opacity: 0;
    filter: blur(1px);
    transform: scale(.5, .5);
    animation: dotShuttleBA 2s infinite ease-in;
  }

  &::after {
    animation-delay: 1s;
  }
}

@keyframes dotShuttleBA {
  0% {
    opacity: 0;
    transform: translateX(0) scale(.8, .8);
  }

  50% {
    opacity: 1;
    transform: translateX($d) scale(1, 1);
  }

  100% {
    opacity: 0;
    transform: translateX($d*2) scale(.5, .5);
  }
}
