// ----------------------------------------------
// Dot Spin
// ----------------------------------------------
$x-1: 17px;
$y-1: 17px;
$-x-1: - $x-1;
$-y-1: - $y-1;

$x-2: 12px;
$y-2: 12px;
$-x-2: - $x-2;
$-y-2: - $y-2;

$color-0: rgba(152,128,255,0);
$color-1: rgba(152,128,255,1);

.dot-spin {
  position: relative;
  width: $dotWidth;
  height: $dotHeight;
  border-radius: $dotRadius;
  box-shadow:
  0 $-y-1 0 $color-1,
  $x-2 $-y-2 0 $color-1,
  $x-1 0 0 $color-1,
  $x-2 $y-2 0 $color-0,
  0 $y-1 0 $color-0,
  $-x-2 $y-2 0 $color-0,
  $-x-1 0 0 $color-0,
  $-x-2 $-y-2 0 $color-0;
  animation: dotSpin 1.5s infinite linear;
}

@keyframes dotSpin {
  0%,
  100% {
    box-shadow:
    0 $-y-1 0 $color-1,
    $x-2 $-y-2 0 $color-1,
    $x-1 0 0 $color-1,
    $x-2 $y-2 0 $color-0,
    0 $y-1 0 $color-0,
    $-x-2 $y-2 0 $color-0,
    $-x-1 0 0 $color-0,
    $-x-2 $-y-2 0 $color-0;
  }
  12.5% {
    box-shadow:
    0 $-y-1 0 $color-0,
    $x-2 $-y-2 0 $color-1,
    $x-1 0 0 $color-1,
    $x-2 $y-2 0 $color-1,
    0 $y-1 0 $color-0,
    $-x-2 $y-2 0 $color-0,
    $-x-1 0 0 $color-0,
    $-x-2 $-y-2 0 $color-0;
  }
  25% {
    box-shadow:
    0 $-y-1 0 $color-0,
    $x-2 $-y-2 0 $color-0,
    $x-1 0 0 $color-1,
    $x-2 $y-2 0 $color-1,
    0 $y-1 0 $color-1,
    $-x-2 $y-2 0 $color-0,
    $-x-1 0 0 $color-0,
    $-x-2 $-y-2 0 $color-0;
  }
  37.5% {
    box-shadow:
    0 $-y-1 0 $color-0,
    $x-2 $-y-2 0 $color-0,
    $x-1 0 0 $color-0,
    $x-2 $y-2 0 $color-1,
    0 $y-1 0 $color-1,
    $-x-2 $y-2 0 $color-1,
    $-x-1 0 0 $color-0,
    $-x-2 $-y-2 0 $color-0;
  }
  50% {
    box-shadow:
    0 $-y-1 0 $color-0,
    $x-2 $-y-2 0 $color-0,
    $x-1 0 0 $color-0,
    $x-2 $y-2 0 $color-0,
    0 $y-1 0 $color-1,
    $-x-2 $y-2 0 $color-1,
    $-x-1 0 0 $color-1,
    $-x-2 $-y-2 0 $color-0;
  }
  62.5% {
    box-shadow:
    0 $-y-1 0 $color-0,
    $x-2 $-y-2 0 $color-0,
    $x-1 0 0 $color-0,
    $x-2 $y-2 0 $color-0,
    0 $y-1 0 $color-0,
    $-x-2 $y-2 0 $color-1,
    $-x-1 0 0 $color-1,
    $-x-2 $-y-2 0 $color-1;
  }
  75% {
    box-shadow:
    0 $-y-1 0 $color-1,
    $x-2 $-y-2 0 $color-0,
    $x-1 0 0 $color-0,
    $x-2 $y-2 0 $color-0,
    0 $y-1 0 $color-0,
    $-x-2 $y-2 0 $color-0,
    $-x-1 0 0 $color-1,
    $-x-2 $-y-2 0 $color-1;
  }
  87.5% {
    box-shadow:
    0 $-y-1 0 $color-1,
    $x-2 $-y-2 0 $color-1,
    $x-1 0 0 $color-0,
    $x-2 $y-2 0 $color-0,
    0 $y-1 0 $color-0,
    $-x-2 $y-2 0 $color-0,
    $-x-1 0 0 $color-0,
    $-x-2 $-y-2 0 $color-1;
  }
}
