// ----------------------------------------------
// Dot Translation
// ----------------------------------------------

$leftPos: -9999px;
$leftPos-1: - $leftPos - 15px;
$leftPos-2: - $leftPos;
$leftPos-3: - $leftPos + 15px;

.dot-translation {
  position: relative;
  left: $leftPos;
  @include dot;

  box-shadow:
  $leftPos-1 0 0 0 #ccc,
  $leftPos-2 0 0 0 #ccc,
  $leftPos-3 0 0 0 #ccc;

  animation: dotTranslation 3s infinite linear;

}

@keyframes dotTranslation {
  0% {
    box-shadow:
    $leftPos-1 0 0 -1px #ccc,
    $leftPos-2 0 0 1px #ccc,
    $leftPos-3 0 0 -1px #ccc;
  }
  50% {
    box-shadow:
    $leftPos-3 0 0 -1px #ccc,
    $leftPos-1 0 0 -1px #ccc,
    $leftPos-2 0 0 1px #ccc;
  }
  100% {
    box-shadow:
    $leftPos-2 0 0 1px #ccc,
    $leftPos-3 0 0 -1px #ccc,
    $leftPos-1 0 0 -1px #ccc;
  }
}
