// ----------------------------------------------
// Dot Pulse
// ----------------------------------------------

.dot-pulse {
  position: relative;
  left: -900px;
  @include dot;

  box-shadow:
  885px 0 0 0 #ccc,
  900px 0 0 0 #ccc,
  915px 0 0 0 #ccc;

  animation: dotPulse 1s infinite linear;

}

@keyframes dotPulse {
  0% {
    box-shadow:
    885px 0 0 -2px #ccc,
    900px 0 0 0 #ccc,
    915px 0 0 2px #ccc;
  }
  25% {
    box-shadow:
    885px 0 0 0 #ccc,
    900px 0 0 2px #ccc,
    915px 0 0 0 #ccc;
  }
  50% {
    box-shadow:
    885px 0 0 2px #ccc,
    900px 0 0 0 #ccc,
    915px 0 0 -2px #ccc;
  }
  75% {
    box-shadow:
    885px 0 0 0 #ccc,
    900px 0 0 -2px #ccc,
    915px 0 0 0 #ccc;
  }
  100% {
    box-shadow:
    885px 0 0 -2px #ccc,
    900px 0 0 0 #ccc,
    915px 0 0 2px #ccc;
  }
}
