// ----------------------------------------------
// Dot Typing
// ----------------------------------------------

$leftPos: -9999px;
$leftPos-1: - $leftPos - 15px;
$leftPos-2: - $leftPos;
$leftPos-3: - $leftPos + 15px;

.dot-typing {
  position: relative;
  left: $leftPos;
  @include dot;

  box-shadow:
  $leftPos-1 -5px 0 0 #ccc,
  $leftPos-2 0 0 0 #ccc,
  $leftPos-3 0 0 0 #ccc;

  animation: dotTyping 1s infinite linear;

}

@keyframes dotTyping {
  0% {
    box-shadow:
    $leftPos-1 -5px 0 0 #ccc,
    $leftPos-2 0 0 0 #ccc,
    $leftPos-3 0 0 0 #ccc;
  }
  16.666% {
    box-shadow:
    $leftPos-1 0 0 0 #ccc,
    $leftPos-2 0 0 0 #ccc,
    $leftPos-3 0 0 0 #ccc;
  }
  33.333% {
    box-shadow:
    $leftPos-1 0 0 0 #ccc,
    $leftPos-2 -5px 0 0 #ccc,
    $leftPos-3 0 0 0 #ccc;
  }
  50% {
    box-shadow:
    $leftPos-1 0 0 0 #ccc,
    $leftPos-2 0 0 0 #ccc,
    $leftPos-3 0 0 0 #ccc;
  }
  66.666% {
    box-shadow:
    $leftPos-1 0 0 0 #ccc,
    $leftPos-2 0 0 0 #ccc,
    $leftPos-3 -5px 0 0 #ccc;
  }
  83.333% {
    box-shadow:
    $leftPos-1 0 0 0 #ccc,
    $leftPos-2 0 0 0 #ccc,
    $leftPos-3 0 0 0 #ccc;
  }
  100% {
    box-shadow:
    $leftPos-1 -5px 0 0 #ccc,
    $leftPos-2 0 0 0 #ccc,
    $leftPos-3 0 0 0 #ccc;
  }
}
